@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    box-sizing: border-box;
}

//define break points to target responsive design
$M: 768px;
$MASTER_COLOR_1: #E00000;

// some helpful mixins

@mixin desktop($w){
  @media (min-width: $w) {
    @content;
  }
}

@mixin mobile($w){
  @media (max-width: $w) {
    @content;
  }
}

html {
  @include mobile($M) {
    font-size: 14px;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.App-header {
  background-color: #222;
  height: auto !important;
  color: white;
  display: flex;
  padding: 4rem 1rem !important;
}

form {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 80%;
  @include mobile($M) {
    max-width: 90%;
    justify-content: center;
  }
  margin: 0 auto;

  input[type=submit] {
    flex: 1;
    padding: 20px 0;
    background: $MASTER_COLOR_1;
    color: #FFFFFF;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-left: 2rem;
    @include mobile($M) {
      margin-left: 1rem;
      font-size: 1.2rem;
    }
  }

  input[type=text] {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      @include mobile($M) {
        font-size: 1.2rem;
      }
      border-radius: .5rem;
      border: 0 none;
      flex: 3;
  }
}

div#ui-blocker {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333 url('loading.gif') no-repeat center center;
}

section.head {
    margin: 2rem 0;
}

main {
    max-width: 96%;
    margin: 0 auto;
    @include mobile($M) {
      max-width: 100%;
      margin: 0 15px;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.gists > li {
    margin: 1rem 0 2rem;
}


ul.gist {
  /* parent properties */
  font-size: 1rem;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  text-align: left;

  img.avatar {
    margin-right: 0.6rem;
    border-radius: 50%;
  }

  time {
    font-size: smaller;
  }

  .cratedAt {
    display: block;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include mobile($M) {
      display: grid;
      grid-template-rows: max-content;
      grid-template-columns: 1fr;
      text-align: right;
      font-size: smaller;
    }
  }

  & > li:nth-of-type(1), & > li:nth-of-type(2) {
    display: flex;
    align-items: center;
  }

  & > li:last-child {
    grid-column: span 2;
    border: 2px solid #d3d3d3;
    background: #eeeeee;
    padding: 0 1rem;
    margin-top: 0.1rem;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      border: 2px dashed #222;
      background: lighten(#eeeeee, 2%);;
    }
  }

  ul.labels {
    margin-top: 0.25rem;
    display: flex;
    font-size: small;
    li {
      background-color: $MASTER_COLOR_1;
      color: #FFF;
      padding: 0.1rem 1rem;
      margin-right: 0.5rem;
      border-radius: 4px;
    }
  }
}



