body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App-intro {
    font-size: large;
    margin-top: 2rem;
}

.App-header {
  background-color: #222;
  height: auto !important;
  color: white;
  display: flex;
  padding: 4rem 1rem !important;
}

form {
  display: flex;
  flex-direction: row;
  flex: 1;
  max-width: 80%;
  margin: 0 auto;
}

form input[type=submit] {
  flex: 1;
  padding: 20px 0;
  background: #E00000;
  color: #FFFFFF;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-left: 2rem;
}

form input[type=text] {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    border: 0 none;
    flex: 3;
}
